.admins_list {
  list-style-type: none;
  padding-left: 10px; }

.admins_list li {
  width: 300px;
  padding: 2px 5px;
  margin-bottom: 5px; }

.admins_list li:hover {
  background-color: #eeeeee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

.admins_list .user_name {
  font-weight: bold;
  float: left; }

.admins_list .email {
  clear: left;
  display: block;
  font-size: 0.8em;
  color: #888888;
  padding-left: 10px; }

.admins_list .membership_type {
  clear: left;
  display: block;
  font-size: 0.8em;
  padding-left: 10px; }

.admins_list .remove_account_user_link {
  float: right;
  opacity: 0.5; }

.admins_list li:hover .remove_account_user_link {
  opacity: 1; }

#account_notification_icon option {
  padding: 3px 0 3px 25px;
  background: url(/images/warning.png) no-repeat 5px center; }
  #account_notification_icon option.calendar {
    background-image: url(/images/calendar_icon.png); }
  #account_notification_icon option.people {
    background-image: url(/images/group.png); }
  #account_notification_icon option.help {
    background-image: url(/images/help.png); }
  #account_notification_icon option.file {
    background-image: url(/images/file.png); }

.custom_help_link {
  border-top: 1px solid #cccccc; }
  .custom_help_link .delete {
    float: right; }

.announcements_list .alert {
  color: #666666; }
.announcements_list .subject {
  font-size: 13px;
  font-weight: bold; }
  .announcements_list .subject img {
    padding-right: 5px; }
.announcements_list .message {
  border-top: 1px dotted #cccccc;
  margin-top: 5px;
  padding-top: 5px;
  font-size: 11px; }
