.discussion-entries {
  list-style: none;
  margin: -4px 0 0 8px;
  padding: 0;
  background: url("/images/discussions/line.png") left repeat-y; }
  .discussion-entries .entry {
    padding: 4px 0 0 10px;
    background: url("/images/discussions/child_bg.png") left -13px no-repeat; }
    .discussion-entries .entry:last-child {
      background-color: white; }

.highlighted-entry,
.highlighted-entry > .replies > .discussion-entries {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABBJREFUeNpiYFv5biZAgAEABI0CN2VktcMAAAAASUVORK5CYII='); }

.highlighted-entry > .replies > .discussion-entries > .entry {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAvCAYAAAA1kTAGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAD1JREFUeNpiZFv5biYDA0M6EDP8DBNkwAeYGEgAo4pHFY8qHlU8qnhU8ajiAVfMgsxhX/WeKMUziTEZIMAA93IGmFCfPigAAAAASUVORK5CYII='); }

.show-if-collapsed {
  display: none; }

.collapsed .hide-if-collapsed {
  display: none; }
.collapsed .show-if-collapsed {
  display: block; }

.discussion_entry {
  margin: 5px 0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); }
  .discussion_entry .new-and-total-badge {
    float: right;
    margin-top: 10px; }
  .discussion_entry .al-trigger {
    margin-left: 10px;
    margin-right: -10px;
    margin-top: -4px; }
  .discussion_entry .admin-link-hover-area:hover, .discussion_entry .admin-link-hover-area.active {
    cursor: pointer;
    background-color: #e4f3fe; }
    .discussion_entry .admin-link-hover-area:hover .discussion-title a, .discussion_entry .admin-link-hover-area.active .discussion-title a {
      color: #15a3fa;
      text-decoration: none; }
  .discussion_entry .ellipsis {
    padding-right: 70px; }

.reply-textarea {
  width: 100%; }

.discussion-section {
  padding: 3px 13px;
  background-color: #f3f4f5;
  border-top: 1px solid white;
  border-bottom: 1px solid #e1e1e1;
  position: relative; }
  .discussion-section:first-child {
    border-top: 0; }
  .discussion-section:last-child {
    border-bottom: 0; }

.topic .discussion-section {
  padding-left: 5px; }
.topic h1.discussion-title {
  font-size: 19px; }

.discussion-title {
  font-size: 13px;
  margin: 0; }

.discussion-subtitle {
  font-size: 11px;
  margin: 0; }

.discussion-header-content {
  position: relative; }
  .discussion-header-content a {
    color: inherit; }

.discussion-header-right {
  float: right; }

.discussion-pubdate {
  font-size: 11px;
  color: #777777; }

.discussion-assignment-section {
  background-image: url("/images/discussions/assignment_bg.png");
  background-position: 8px 8px;
  background-repeat: no-repeat;
  padding-left: 40px !important;
  min-height: 40px; }
  .discussion-assignment-section .discussion-title {
    font-size: 14px; }
  .discussion-assignment-section .discussion-header-content {
    margin-bottom: 15px;
    min-height: 30px; }

.discussion-assignment-links {
  margin: 10px -13px -3px -40px;
  padding: 3px 0;
  border-top: 1px solid #b6b7b7;
  background-color: #e9e9ea;
  text-align: center; }
  .discussion-assignment-links a {
    margin-right: 20px; }

.discussion-fyi {
  font-style: italic;
  font-size: 12px;
  color: #777777; }

.discussion-read-state {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 8px;
  background-color: #d7d7d7; }
  .discussion-read-state .tooltip_wrap {
    left: -4px;
    top: -25px;
    bottom: auto;
    display: none; }
  .unread .discussion-read-state {
    background-color: #6dc0ff; }

.unread .discussion-read-state .unread,
.just_read .discussion-read-state .just_read {
  display: block; }

.discussion-reply-form .show-if-replying {
  display: none; }
.discussion-reply-form.replying .hide-if-replying {
  display: none; }
.discussion-reply-form.replying .show-if-replying {
  display: block; }

.entry .cancel_button {
  font-size: 11px; }

.discussion-reply-label {
  display: block;
  background-color: white;
  font-size: 11px;
  color: #636363 !important;
  padding: 3px 10px;
  cursor: text;
  border: 1px inset #eeeeee; }
  .discussion-reply-label:hover {
    text-decoration: none; }

.avatar {
  float: left;
  margin: 0 10px 0 0; }
  .avatar img {
    max-width: 35px;
    min-height: 35px; }

.topic .avatar img {
  max-width: 50px;
  min-height: 0; }

.discussion-header-content .author.unknown {
  font-style: italic; }

.discussion-reply-attachments {
  list-style: none;
  padding: 0;
  margin: 0; }
  .discussion-reply-attachments li {
    padding: 0 0 0 20px;
    margin: 0;
    background: transparent url(/images/messages/attach-gray.png) left center no-repeat; }
  .discussion-reply-attachments a {
    display: inline-block;
    text-indent: -1000em;
    width: 16px;
    height: 16px;
    background: transparent url(/images/delete_circle.png) left center no-repeat; }

.discussion-reply-add-attachment {
  display: inline-block;
  padding-left: 20px;
  background: transparent url(/images/messages/attach-blue.png) left center no-repeat; }

.discussion-reply-attachments-container {
  float: right; }

.discussion-reply-buttons {
  float: left; }

.message-notification, .notification {
  background: #ffffcc; }

.view_switcher {
  width: 258px;
  text-decoration: none !important;
  border: 1px solid;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  background: url(/images/button_bg.png) 0px 0px repeat-x !important;
  color: #555555 !important;
  border-color: #b6b6b6;
  font-size: 1.08em;
  font-weight: normal;
  text-shadow: 0px, 1px, 0px, rgba(255, 255, 255, 0.8); }
  .view_switcher.ui-state-hover, .view_switcher.ui-state-active, .view_switcher.ui-selectmenu-menu-dropdown {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); }
  .view_switcher a {
    color: inherit; }
  .view_switcher.ui-selectmenu-menu-dropdown {
    background: #ebebeb none !important;
    border-top: 0; }
  .view_switcher li.ui-selectmenu-hasIcon a,
  .view_switcher .ui-selectmenu-status {
    padding-left: 25px;
    margin-left: 12px; }

.collapsed-view .ui-selectmenu-item-icon {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAOCAYAAADJ7fe0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADZJREFUeNpiDA0N/c9AAVi1ahUjC5BmBDIoMeg/I9AlDBS6hAHkEoq8A/LJqHdGvTO0vAMQYADHKCgMzJKYmAAAAABJRU5ErkJggg=='); }

.unread-view .ui-selectmenu-item-icon {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAQCAYAAADwMZRfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAD5JREFUeNpiDA0NZaAErFq1ioEFSP9noAwwMjFQDv5TwxCwdxiB/qLIS4yDJmCp4Z3/jKPpZDSdEBGwAAEGAK0dIBUjKX2FAAAAAElFTkSuQmCC'); }

.expanded-view .ui-selectmenu-item-icon {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAOCAYAAADJ7fe0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADxJREFUeNpiDA0N/c9AAVi1ahUjEwPl4D81DGFgAWJGoJMo8hIjMEwYKAwTsEv+U+ib0YAdDViiAECAAQA8UxgSHWBJWAAAAABJRU5ErkJggg=='); }

.deleted-discussion-entry {
  opacity: 0.5; }
  .deleted-discussion-entry .discussion-header-content {
    min-height: 0; }
  .deleted-discussion-entry .admin-link-hover-area:hover, .deleted-discussion-entry .admin-link-hover-area.active {
    cursor: normal; }
  .deleted-discussion-entry .discussion-title {
    font-size: 12px;
    font-style: italic; }

.add_root_reply {
  display: inline-block;
  margin-top: 20px; }

.add_side_comment {
  margin-left: 42px !important;
  margin-top: 10px !important; }

.side_comment_discussion .discussion-entries {
  margin-left: 0;
  margin-top: 0;
  background: none; }
  .side_comment_discussion .discussion-entries:last-child {
    margin-bottom: 0; }
.side_comment_discussion .entry {
  padding-left: 0;
  background: none; }
  .side_comment_discussion .entry:last-child {
    margin-bottom: 0;
    padding-bottom: 4px; }
  .side_comment_discussion .entry .discussion_entry {
    margin-bottom: 0;
    position: relative; }
    .side_comment_discussion .entry .discussion_entry .entry {
      margin-left: 0;
      background: none;
      padding-left: 10px;
      padding-right: 0; }
      .side_comment_discussion .entry .discussion_entry .entry .discussion_entry {
        margin-bottom: 5px;
        border-bottom: none; }
        .side_comment_discussion .entry .discussion_entry .entry .discussion_entry:first-child {
          margin-top: 10px; }
  .side_comment_discussion .entry .replies {
    background-color: #cccccc;
    margin-left: 20px; }
.side_comment_discussion #discussion_subentries > .discussion-entries > .entry > .replies {
  padding-right: 10px; }

.add-side-comment-wrap .discussion-reply-form {
  background: #cccccc;
  padding: 10px;
  margin-top: 0px;
  margin-left: 20px;
  box-shadow: none; }
