a:link, a:visited {
  color: #4b7092;
  text-decoration: none; }
a:link:-moz-read-write {
  color: #4b7092 !important;
  text-decoration: none !important; }
a:hover, a:active, a:focus {
  text-decoration: underline; }
a.external:hover, a.external:focus, a.external:active {
  text-decoration: none; }
  a.external:hover span, a.external:focus span, a.external:active span {
    text-decoration: underline; }
  a.external:hover span.ui-icon-extlink, a.external:focus span.ui-icon-extlink, a.external:active span.ui-icon-extlink {
    text-decoration: none; }
a.external span.ui-icon-extlink {
  display: inline-block;
  padding: 0;
  vertical-align: middle; }

.content_underline_links a {
  text-decoration: underline; }
  .content_underline_links a.external {
    text-decoration: none !important; }
    .content_underline_links a.external span {
      text-decoration: underline; }
    .content_underline_links a.external span.ui-icon-extlink {
      text-decoration: none;
      display: inline-block;
      padding: 0;
      vertical-align: middle; }

/* Tables
 * -------------------------------------------------------------- */
table.stylized {
  margin-bottom: 1.4em;
  width: 100%; }
  table.stylized th {
    font-weight: bold; }
  table.stylized th, table.stylized td, table.stylized caption {
    padding: 2px 5px 2px 2px; }
  table.stylized tfoot {
    font-style: italic; }
  table.stylized caption {
    background: #eeeeee; }

table.striped thead th {
  background-color: #dddddd;
  background-color: rgba(0, 0, 0, 0.06); }
table.striped tr.even td, table.striped tr:nth-child(2n) td {
  background-color: #fbfbfb;
  background-color: rgba(0, 0, 0, 0.02); }

table.bordered th, table.bordered td {
  border: 1px solid #cccccc; }

/* Sets up some sensible default typography. */
/* Default font settings.
 * The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html {
  font-size: 100.01%; }

body {
  font-size: 75%;
  color: #333333;
  font: 13px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif; }

/* Headings
 * -------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #444444; }

h1, h2 {
  font-size: 1.8em;
  margin-bottom: 0.5em; }

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

h6 {
  font-size: 1em;
  font-weight: bold; }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0; }

/* Text elements
 * -------------------------------------------------------------- */
p {
  margin: 0 0 1.5em; }
  p img.left {
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0; }
  p img.right {
    float: right;
    margin: 1.5em 0 1.5em 1.5em; }

blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

dfn {
  font-style: italic;
  font-weight: bold; }

sup, sub {
  line-height: 0; }

abbr, acronym {
  border-bottom: 1px dotted #666666; }

address {
  margin: 0 0 1.5em;
  font-style: italic; }

del {
  color: #666666; }

pre {
  margin: 1.5em 0;
  white-space: pre; }

pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5; }

body, html {
  height: 100%; }

body {
  background: url("/images/body-bg.png") repeat-x top #e0e0e0; }
  body #footer {
    display: none; }
  body.no-headers {
    background: white; }
    body.no-headers #header, body.no-headers #topbar, body.no-headers #left-side, body.no-headers #breadcrumbs {
      display: none !important; }
    body.no-headers #footer {
      display: none; }
    body.no-headers #wrapper {
      margin: 0;
      min-width: 400px; }
    body.no-headers #main {
      margin: 0;
      border: 0 none;
      background-color: transparent;
      box-shadow: none; }
    body.no-headers #content {
      padding-top: 0; }

.scripts-not-loaded a, .scripts-not-loaded button {
  visibility: hidden !important; }

#wrapper-container {
  overflow: hidden; }

#wrapper {
  margin: 0 21px;
  *zoom: 1; }
  #wrapper:after {
    content: "";
    display: table;
    clear: both; }

#main {
  position: relative;
  z-index: 10;
  background-color: white;
  border-left: 1px solid #dddddd;
  border-top: 0px solid #dddddd;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  margin-bottom: 40px;
  *zoom: 1;
  min-height: 450px; }
  #main:after {
    content: "";
    display: table;
    clear: both; }

#content {
  padding: 1em;
  overflow: hidden; }

body.padless-content #content, #content.padless {
  padding: 0; }

body.with-left-side #footer {
  margin-left: 175px; }
body.with-left-side #wrapper {
  margin-left: 0; }
body.with-left-side #left-side {
  display: block; }
body.with-left-side #main {
  margin-left: 175px; }

body.with-right-side.with-left-side {
  min-width: 985px; }

body.with-right-side #right-side-wrapper {
  display: block;
  float: right; }
body.with-scrolling-right-side #content, body.with-sidebar-pinned-to-bottom #content {
  padding-right: 329px; }
body.with-scrolling-right-side #right-side-wrapper, body.with-sidebar-pinned-to-bottom #right-side-wrapper {
  position: absolute;
  right: 0;
  width: 316px; }
body.with-scrolling-right-side #right-side {
  position: fixed;
  top: 0; }
body.with-sidebar-pinned-to-bottom #right-side, body.with-sidebar-pinned-to-bottom #right-side-wrapper {
  bottom: 0; }

#breadcrumbs {
  border-bottom: 1px solid #cccccc;
  background-color: #f9f9f9;
  box-shadow: 0 0 36px #f2f2f2; }
  #breadcrumbs ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    *zoom: 1;
    margin: 0 0 0 10px;
    color: #595959;
    font-size: 13px;
    font-family: GillSans, Calibri, Trebuchet, sans-serif; }
    #breadcrumbs ul li {
      margin: 0;
      padding: 0; }
    #breadcrumbs ul li {
      float: left;
      height: 27px;
      line-height: 2.1em;
      padding-left: 18px;
      margin: 0;
      margin-left: 1px;
      background: url(/images/breadcrumb-right-chevron.png) left 50% no-repeat; }
      #breadcrumbs ul li:first-child {
        background: none;
        padding-left: 0;
        margin-left: 0; }
  #breadcrumbs a {
    color: inherit; }
    #breadcrumbs a:hover, #breadcrumbs a:focus {
      background-color: transparent;
      text-decoration: underline; }
  #breadcrumbs .ellipsis {
    display: inline-block; }
  #breadcrumbs ul li.home a {
    background: url(/images/breadcrumb-home.png) no-repeat left 50%;
    display: block;
    width: 10px;
    height: 27px; }
    #breadcrumbs ul li.home a span {
      display: none; }

.hightlight {
  background-color: #ffffcc; }

.small {
  font-size: 11px; }

.gray {
  color: #999999; }

#skip_navigation_link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: white;
  background-color: #dc3f3f;
  border: 1px dashed white;
  font-size: 12px;
  padding: 1px; }
  #skip_navigation_link:focus {
    left: 0;
    width: auto;
    height: auto;
    z-index: 1; }

#header-logo, #header.no-user #header-logo {
  background: url("/images/canvas/header_canvas_logo.png") no-repeat;
  width: 135px;
  height: 26px;
  left: 16px;
  bottom: 21px;
  position: absolute;
  text-indent: -9999px;
  outline: none; }

#header-logo-secondary {
  display: none;
  background: url("/images/canvas/header_canvas_logo.png") no-repeat;
  width: 135px;
  height: 26px;
  right: 26px;
  bottom: 6px;
  position: absolute; }

#header {
  position: relative;
  z-index: 11;
  padding-top: 26px;
  background: url("/images/canvas/header_bg.png") 0 0 repeat-x; }
  #header.no-user {
    background-position: 0 -25px;
    min-height: 20px; }
    #header.no-user #header-logo {
      top: 11px;
      left: 6px; }
    #header.no-user #header-logo-secondary {
      display: none; }

#topbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  overflow: hidden; }

#identity {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  font-size: 12px;
  margin-right: 22px;
  margin-bottom: 4px;
  padding: 1px 11px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #e3e8e5; }
  #identity li {
    margin: 0;
    padding: 0; }
  #identity li {
    float: left;
    border-left: 1px solid #d5dcd8;
    line-height: 1em;
    margin: 5px 8px 5px 0;
    padding-left: 8px; }
    #identity li.first, #identity li#identity-help-container {
      border-left: none; }
  #identity .no-left-border {
    border-left: none; }
  #identity .user_name {
    border-left: none;
    margin-right: 15px; }
    #identity .user_name a {
      color: #444444 !important;
      text-decoration: none !important; }
  #identity a {
    color: #4c7092; }
  #identity .inbox a {
    text-decoration: none; }
    #identity .inbox a:hover span, #identity .inbox a:active span {
      text-decoration: underline; }
    #identity .inbox a .unread-messages-count {
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px;
      background-color: #4c7092;
      color: #e3e8e5;
      padding: 1px 6px; }
  #identity #identity-help-container a {
    color: white !important;
    background-color: orange;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 1px 8px;
    border: 1px solid #e79900; }

#menu {
  *zoom: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  color: black;
  padding-top: 3px;
  margin-left: 175px; }
  #menu:after {
    content: "";
    display: table;
    clear: both; }
  #menu li {
    margin: 0;
    padding: 0; }

.menu-item {
  display: block;
  float: left;
  position: relative; }
  .menu-item .menu-item-title, .menu-item .menu-item-no-drop {
    border: 1px solid transparent;
    border-bottom: 0 none;
    color: #747575;
    display: block;
    padding: 6px 17px 5px;
    text-decoration: none;
    position: relative;
    z-index: 100;
    height: 29px;
    font-size: 17px; }
  .menu-item .menu-item-no-drop:hover {
    text-decoration: underline; }
  .menu-item .menu-item-title {
    background: url("/images/canvas/menu_arrow.png") no-repeat right 17px;
    padding-right: 27px; }
  .menu-item.hover .menu-item-title {
    border-top-color: #cccccc;
    border-left-color: #cccccc;
    border-right-color: #cccccc;
    background-color: #f3f4f5; }
  .menu-item.hover .menu-item-drop {
    left: 0; }
  .menu-item .menu-item-drop {
    border: 1px solid #cccccc;
    background-color: #ededee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f4f5), to(#e7e7e8));
    background-image: -webkit-linear-gradient(top, #f3f4f5, #e7e7e8);
    background-image: -moz-linear-gradient(top, #f3f4f5, #e7e7e8);
    background-image: -ms-linear-gradient(top, #f3f4f5, #e7e7e8);
    background-image: -o-linear-gradient(top, #f3f4f5, #e7e7e8);
    background-image: linear-gradient(top, #f3f4f5, #e7e7e8);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f4f5',EndColorStr='#e7e7e8')";
    zoom: 1;
    box-shadow: 7px 7px 9px rgba(0, 0, 0, 0.25);
    background-color: #f3f4f5;
    background-repeat: repeat-x;
    background-position: top left;
    padding: 6px 0;
    top: 40px;
    z-index: 99;
    font-size: 13px;
    overflow: hidden;
    position: absolute;
    left: -999999px; }
    .ie9 .menu-item .menu-item-drop {
      border-radius: 0 !important; }
    .menu-item .menu-item-drop .menu-item-drop-padded {
      padding-top: 6px;
      padding-left: 12px;
      padding-right: 12px; }
    .menu-item .menu-item-drop .menu-item-drop-float-right {
      font-family: "ff-clifford-eighteen-web-pro-1", "ff-clifford-eighteen-web-pro-2", Georgia, "Times New Roman", Times, serif;
      font-style: italic;
      float: right;
      white-space: nowrap; }
    .menu-item .menu-item-drop .menu-item-drop-column {
      padding: 0 12px;
      border-left: 1px dotted #cccccc;
      min-width: 270px;
      width: 270px;
      vertical-align: top; }
      .menu-item .menu-item-drop .menu-item-drop-column h2 {
        font-size: 1.2em;
        margin-top: 0; }
      .menu-item .menu-item-drop .menu-item-drop-column:first-child {
        border-left: none; }
    .menu-item .menu-item-drop li {
      font-size: 15px;
      line-height: 0.9em; }
      .menu-item .menu-item-drop li .secondary-right, .menu-item .menu-item-drop li .subtitle {
        font-family: "ff-clifford-eighteen-web-pro-1", "ff-clifford-eighteen-web-pro-2", Georgia, "Times New Roman", Times, serif;
        font-style: italic;
        color: #888888; }
      .menu-item .menu-item-drop li .subtitle {
        display: block;
        color: #bcbcbc;
        font-size: 9px; }
      .menu-item .menu-item-drop li:hover .secondary-right, .menu-item .menu-item-drop li:hover .subtitle {
        color: #555555; }
      .menu-item .menu-item-drop li .name-right-wrapper {
        width: 100%;
        display: block;
        overflow: hidden; }
      .menu-item .menu-item-drop li .secondary-right {
        float: right;
        white-space: nowrap;
        font-size: 11px; }
      .menu-item .menu-item-drop li .name {
        display: block; }

.menu-item-drop-column-list, .customListGhost {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 270px; }
  .menu-item-drop-column-list li, .customListGhost li {
    margin: 0;
    padding: 0; }
  .menu-item-drop-column-list li, .customListGhost li {
    border-top: 1px dashed #cccccc; }
    .menu-item-drop-column-list li:hover, .customListGhost li:hover {
      background-image: url("/images/4_percent_opacity.png"); }
      .menu-item-drop-column-list li:hover .name, .customListGhost li:hover .name {
        color: #30485f; }
    .menu-item-drop-column-list li a, .customListGhost li a {
      display: block;
      font-size: 15px;
      line-height: 19px;
      padding-top: 2px;
      text-decoration: none;
      color: #456787; }

.menu-item-drop.menuCustomListEditing {
  min-width: 589px; }

#menu_enrollments li:hover {
  background-image: none; }
  #menu_enrollments li:hover .subtitle {
    color: #bcbcbc; }
#menu_enrollments .customListWrapper {
  background: white;
  padding: 10px;
  border: solid 1px #cccccc;
  position: absolute;
  left: 0;
  opacity: 0;
  top: 10px;
  bottom: 10px;
  width: 270px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5); }
  #menu_enrollments .customListWrapper .customListClose {
    float: right;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-decoration: none;
    background: url(/images/close-button.png) no-repeat top left; }
  #menu_enrollments .customListWrapper ul {
    position: absolute;
    top: 40px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    overflow: auto; }
    #menu_enrollments .customListWrapper ul a {
      padding-left: 30px;
      background: url(/images/checkboxes-customlist.png) no-repeat -8px 6px; }
      #menu_enrollments .customListWrapper ul a:hover {
        background-position: -8px -88px; }
    #menu_enrollments .customListWrapper ul .on a {
      background-position: -8px -41px; }
#menu_enrollments .customListOpen {
  color: #30485f;
  float: right; }

.customListEditing ul {
  min-height: 400px; }

.customListEditing .customListWrapper ul {
  min-height: 300px; }

#menu_enrollments.customListEditing .customListWrapper {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  left: 295px;
  opacity: 1; }

.menu-item-drop .customListOpen {
  line-height: 28px;
  cursor: pointer; }

.customListGhost {
  position: absolute;
  z-index: 100; }

#footer {
  color: #5c5c5c;
  font-size: 11px;
  margin: 0 15px 34px; }
  #footer img {
    vertical-align: bottom;
    padding: 0 20px 3px 0; }

#footer-links a {
  border-left: 1px solid #5c5c5c;
  color: #5c5c5c;
  margin-right: 0.4em;
  padding-left: 0.4em; }
  #footer-links a:hover, #footer-links a:focus {
    text-decoration: underline; }
  #footer-links a:first-child {
    border-left: none; }

#left-side {
  float: left;
  width: 175px;
  background-color: #f2f5f7;
  display: none;
  font-size: 12px; }
  #left-side .left-side-inner {
    padding: 10px;
    margin-left: 5px; }
  #left-side #section-tabs-header {
    padding: 12px;
    margin: 0;
    font-size: 20px;
    line-height: 1; }
  #left-side #section-tabs-header-subtitle {
    color: #777777;
    font-size: 11px;
    font-style: italic;
    margin: -16px 12px 5px;
    display: block;
    text-decoration: none; }

#section-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #c6c6c6; }
  #section-tabs li a {
    color: #4b7092;
    display: block;
    font-size: 14px;
    padding: 5px 0 5px 25px;
    border-bottom: 1px solid #d0d0d0;
    text-shadow: 1px, 2px, 3px, #cbcbcb; }
    #section-tabs li a:hover, #section-tabs li a:focus {
      background-color: #dee2e4;
      z-index: 0;
      position: static;
      text-decoration: none; }
  #section-tabs li.hidden a {
    color: #aaaaaa; }

#right-side-wrapper {
  display: none; }

#right-side {
  width: 300px;
  margin-bottom: 1em;
  padding-bottom: 20px;
  box-shadow: -3px 3px 32px #e8e8e8;
  margin-left: 15px;
  background-color: #f3f4f5;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #595959;
  min-height: 20px;
  z-index: 10; }
  #right-side hr {
    border: dotted #aaaaaa;
    border-width: 1px 0 0;
    margin: 17px 0 20px; }
  #right-side h2 {
    font-size: 1.12em;
    padding: 7px 10px 7px 15px;
    font-weight: normal;
    color: white;
    background-color: #8a8a8a;
    margin-bottom: 8px;
    text-shadow: -1px, -1px, rgba(100, 100, 100, 0.4); }
    #right-side h2 a {
      color: white; }

.rs-match-list-indent {
  padding-left: 31px; }

.rs-margin-lr {
  margin: 0 20px; }

.rs-margin-all {
  margin: 0 20px 20px;
  padding-top: 20px; }

.rs-margin-top {
  padding-top: 20px; }

.rs-margin-bottom {
  margin-bottom: 20px; }

.right-side-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 19px; }
  .right-side-list li {
    margin: 0;
    padding: 0; }
  .right-side-list li a {
    padding: 3px 0 0px 31px;
    display: block;
    background-position: left 7px; }
    .right-side-list li a:hover, .right-side-list li a:focus {
      text-decoration: none; }
      .right-side-list li a:hover b, .right-side-list li a:hover.more_link, .right-side-list li a:focus b, .right-side-list li a:focus.more_link {
        text-decoration: underline; }
      .right-side-list li a:hover em, .right-side-list li a:focus em {
        color: #666666; }
  .right-side-list li small {
    padding: 3px 0 0px 31px;
    display: block;
    color: #666666;
    font-size: 1em; }
  .right-side-list li b, .right-side-list li em {
    font-weight: normal;
    display: block; }
  .right-side-list li em, .right-side-list li .more_link {
    font-family: "ff-clifford-eighteen-web-pro-1", "ff-clifford-eighteen-web-pro-2", Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 10px;
    line-height: 13px; }
  .right-side-list li em {
    color: #bcbcbc;
    border-bottom: 1px dotted #aaaaaa;
    padding-bottom: 5px; }
  .right-side-list li .more_link {
    padding-top: 6px; }
  .right-side-list .tooltip .tooltip_wrap {
    left: -185px;
    width: 185px;
    height: 70px;
    top: 0;
    font-size: 0.9em;
    background-image: none; }
  .right-side-list .tooltip .tooltip_text {
    margin-right: 15px;
    min-height: 30px; }
  .right-side-list .tooltip .tooltip-carat {
    border-bottom: 7px solid transparent;
    border-left: 14px solid #444444;
    border-top: 7px solid transparent;
    display: block;
    margin-top: 12px;
    float: right;
    width: 1px;
    height: 1px; }
  .right-side-list.to-do-list li {
    position: relative; }
    .right-side-list.to-do-list li a.item b {
      padding-right: 20px; }
    .right-side-list.to-do-list li a.disable_item_link {
      opacity: 0.3;
      -ms-filter: alpha(Opacity=30);
      filter: alpha(Opacity=30);
      padding: 0;
      position: absolute;
      background-image: none;
      right: 0;
      top: 0;
      z-index: 2; }
    .right-side-list.to-do-list li:hover a.disable_item_link {
      opacity: 1;
      -ms-filter: alpha(Opacity=100);
      filter: alpha(Opacity=100); }
