#message_list .inbox_item {
  display: none; }
#message_list.show_submission_comment .submission_comment, #message_list.show_discussion_entry .discussion_entry {
  display: block; }

.inbox_item .content {
  padding-top: 0; }
  .inbox_item .content .inner_content {
    cursor: pointer; }
.inbox_item .header {
  padding-bottom: 0; }
  .inbox_item .header .delete_inbox_item_link, .inbox_item .header .reply_inbox_item_link {
    opacity: 0.2; }
  .inbox_item .header .inbox_item_link .user_name {
    font-weight: normal; }
  .inbox_item .header .unread_icons {
    display: inline; }
  .inbox_item .header .read_icons {
    display: none; }
  .inbox_item .header .header_icon {
    width: 20px;
    height: 20px; }
    .inbox_item .header .header_icon.discussion_header_icon, .inbox_item .header .header_icon.submission_header_icon {
      display: none; }
.inbox_item:hover .header .delete_inbox_item_link, .inbox_item:hover .header .reply_inbox_item_link {
  opacity: 1;
  -ms-filter: alpha(Opacity=100);
  filter: alpha(Opacity=100); }
.inbox_item.read a.title.inbox_item_link {
  color: #666666; }
.inbox_item.read .content {
  color: #888888; }
.inbox_item.read .post_date, .inbox_item.read .sub_title, .inbox_item.read .sub_title a {
  color: #aaaaaa; }
.inbox_item.read .header .header_title .title {
  font-weight: normal; }
.inbox_item.read .unread_icons {
  display: none; }
.inbox_item.read .read_icons {
  display: inline; }
.inbox_item.discussion_entry .header_icon.email_header_icon, .inbox_item.discussion_entry .header_icon.submission_header_icon {
  display: none; }
.inbox_item.discussion_entry .header_icon.discussion_header_icon {
  display: inline; }
.inbox_item.submission_comment .header_icon.email_header_icon, .inbox_item.submission_comment .header_icon.discussion_header_icon {
  display: none; }
.inbox_item.submission_comment .header_icon.submission_header_icon {
  display: inline; }
