.mini_month {
  padding: 10px 0 0; }

.mini-cal-header {
  text-align: center;
  font-family: georgia, serif;
  font-size: 14px;
  padding: 0 8px; }
  .mini-cal-header img {
    vertical-align: middle; }
  .mini-cal-header .prev_month_link {
    float: left; }
  .mini-cal-header .next_month_link {
    float: right; }

.mini_calendar {
  width: 100%;
  background-color: #e6e7e8; }
  .mini_calendar .day {
    padding: 0;
    height: 21px;
    font-size: 0.8em;
    color: #444444;
    text-align: center;
    cursor: pointer;
    width: 14%; }
    .mini_calendar .day.has_event {
      background-color: #cccccc; }
    .mini_calendar .day.today {
      background-color: #f1f1dd; }
    .mini_calendar .day.other_month {
      color: #888888; }
    .mini_calendar .day:hover, .mini_calendar .day.related, .mini_calendar .day.drop_target {
      background-image: url("/images/4_percent_opacity.png"); }
    .mini_calendar .day.drop_target {
      background-color: #aaaaaa; }
