@media print {
  .no-print,
  #header,
  #footer,
  #right-side-wrapper,
  #left-side {
    display: none !important; }

  #main,
  #wrapper {
    margin: 0 !important;
    border: 0 none !important; }

  html, body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: black;
    font-size: 10pt;
    background: transparent none !important; }

  #wrapper-container, #content, #wiki_show_view_main {
    overflow: visible !important; }

  #content {
    width: auto;
    padding: 0 !important; }
    #content .fill_height_div {
      overflow: visible !important; }

  a:link, a:visited {
    font-weight: bold;
    text-decoration: underline; }

  #breadcrumbs {
    box-shadow: 0 0 0 white; }
    #breadcrumbs ul li {
      padding-left: 10px; }
      #breadcrumbs ul li:after {
        content: "   →   "; }
      #breadcrumbs ul li:last-child:after {
        content: ""; }
      #breadcrumbs ul li.home {
        display: none; }
    #breadcrumbs ul a {
      text-decoration: none;
      padding-right: 10px; }

  a:link:after, a:visited:after {
    content: " (" attr(href) ") ";
    font-size: 90%; }
  a[href^="/"]:after, a[href^="#"]:after {
    content: ""; } }
