.profile_table td {
  vertical-align: top;
  padding: 2px 5px; }

.profile_table .edit_data {
  display: none; }

.profile_table.editing .edit_data {
  display: inline; }

.profile_table.editing .display_data {
  display: none; }

#registered_services .service {
  font-size: 1.2em;
  padding: 2px; }

#registered_services .service .delete_service_link {
  display: none; }

#registered_services .service.service-hover {
  background-color: #eeeeee;
  -moz-border-radius: 3px; }

#registered_services .service.service-hover .delete_service_link {
  display: inline; }

#unregistered_services .button {
  width: 150px;
  margin: 3px; }

#unregistered_services .button img {
  vertical-align: middle; }

.profile_pic_link img {
  max-width: 50px; }

.profile_pic_list span.img {
  float: left;
  width: 50px;
  overflow: hidden;
  margin: 2px;
  cursor: pointer;
  padding: 4px;
  display: inline-block; }

.profile_pic_list img {
  max-height: 75px;
  min-height: 25px;
  max-width: 50px;
  vertical-align: middle; }

.profile_pic_list span.img:hover {
  padding: 2px;
  border: 2px solid #888888; }

.profile_pic_list span.img.selected {
  padding: 2px;
  border: 2px solid #444444; }

#token_details_dialog table {
  border-collapse: collapse;
  width: 100%; }
  #token_details_dialog table th {
    width: 5%;
    white-space: nowrap;
    font-weight: bold;
    vertical-align: top; }
  #token_details_dialog table td, #token_details_dialog table th {
    padding: 3px 8px;
    border-top: 1px dotted #cccccc; }
  #token_details_dialog table .full_token_warning {
    font-size: 0.8em; }
