body.modal #footer{display:block!important;width:667px;margin:20px auto}
body.modal #main{background-color:transparent;border:0 none;margin:0;padding:0}
body.modal #modal-box-top{background:url(/images/login-bg.jpeg?1339537908) no-repeat;width:647px;height:10px;overflow:hidden;margin:75px auto 0;padding:10px 20px 0 20px;position:relative}
body.modal #modal-box-bottom{background:url(/images/login-bg.jpeg?1339537908) no-repeat bottom center;width:647px;height:9px;overflow:hidden;margin:0 auto 0;padding:0 20px 10px 20px;position:relative}
body.modal #modal-box-arbitrary-size{margin-top:-30px!important;height:auto!important;background-image:url(/images/login-bg-middle-tall.jpg?1339529765)!important}
body.modal #modal-box-arbitrary-size #register_form{margin-top:40px}
body.modal #modal-box-arbitrary-size.modal-box-more-padding{width:607px;padding:60px 40px 26px}
body.modal #modal-box,body.modal #modal-box-arbitrary-size{background:url(/images/login-bg.jpeg?1339537908) no-repeat;width:647px;height:358px;padding:20px;color:#5c5c5c;margin:75px auto 0;position:relative;color:#4b4b4b}
body.modal #modal-box.modal-box-tall,body.modal #modal-box-arbitrary-size.modal-box-tall{margin-top:50px}
body.modal #modal-box a,body.modal #modal-box-arbitrary-size a{color:inherit!important;text-decoration:underline}
body.modal #modal-box ul,body.modal #modal-box-arbitrary-size ul{list-style-type:none}
body.modal #modal-box .button,body.modal #modal-box-arbitrary-size .button{float:right;padding:10px 24px;margin-right:7px}
body.modal #modal-box .button_box,body.modal #modal-box-arbitrary-size .button_box{text-align:right;margin-right:7px;width:100%}
body.modal #modal-box .button_box .button,body.modal #modal-box-arbitrary-size .button_box .button{float:none}
body.modal #modal-box input.text,body.modal #modal-box-arbitrary-size input.text{background:url(/images/login-input-bg.png?1339529765) no-repeat;border:0 none;font-size:13px;padding:19px 9px 18px 22px;width:204px;color:#303030;margin:0 6px 6px 0}
body.modal #modal-box .radio_spacer,body.modal #modal-box-arbitrary-size .radio_spacer{width:25px;display:inline-block}
body.modal .modal-box-content{min-height:150px}
body.webkit #modal-box input.text,body.webkit #modal-box-arbitrary-size input.text{background:#f6f6f6 none;border:6px solid rgba(255,255,255,0.25);border-radius:7px;padding:12px 9px 12px 17px;box-shadow:inset 2px 2px 5px rgba(0,0,0,0.4);background-clip:padding-box;width:197px}
#login_form{margin:200px auto 0;width:487px}
#forgot_password_form{margin:200px auto 0;width:435px}
#forgot_password_form button.button{margin:7px}
span.field-with-fancyplaceholder{display:block;display:inline-block;position:relative;vertical-align:top}
span.field-with-fancyplaceholder label{display:none}
span.field-with-fancyplaceholder label.placeholder{display:inline;color:#999;cursor:text;pointer-events:none}
span.field-with-fancyplaceholder label.placeholder span{position:absolute;z-index:2;-webkit-user-select:none;padding:19px 22px 18px 24px}
span.field-with-fancyplaceholder label.focus{color:#ccc}
span.field-with-fancyplaceholder input:-webkit-autofill{background-color:transparent!important}
span.field-with-fancyplaceholder input{outline:none}
span.field-with-fancyplaceholder input.invalid{background:#ffffc5;color:#f30}
span.field-with-fancyplaceholder input.editing{color:black;background:none repeat scroll 0 0 transparent;overflow:hidden}
#register_link{position:absolute;display:block;background:url(/images/use_canvas_free_callout.png?1339529765) no-repeat;padding-left:229px;width:93px;height:41px;right:-1px;top:94px;font-size:11px;font-weight:bold;line-height:27px}